@page
@model AWP_Individual_Project_1.Pages.CharityModel
@{
    ViewData["Title"] = "How You Can Help";
}
<div>
    <h1 class="display-4 text-center">How You Can Help</h1>
    <br />
    <p class="fs-2 text-indent-2">One of the best ways that you can help, is to donate to one of many different elephant conservation organizations. Here are a few notable ones.</p>
    <div class="text-center">
        <ul class="resources">
            <li><a href="https://elephantconservation.org/">https://elephantconservation.org/</a></li>
            <li><a href="https://worldelephantday.org/">https://worldelephantday.org/</a></li>
            <li><a href="https://www.savetheelephants.org/">https://www.savetheelephants.org/</a></li>
        </ul>
    </div>
</div>