@page
@model AWP_Individual_Project_1.Pages.EndangeredModel
@{
    ViewData["Title"] = "Why Indian Elephants Are Endangered";
}
<div>
    <h1 class="display-4 text-center">Why They Are Endangered</h1>
    <br />
    <p class="fs-2 text-indent-2">There are less than 25,000 Indian Elephants left in the world. One of the biggest factors in their population loss has been an ever expanding human population. As the population grows, the more we expand, and the more we destroy their habitat. With how much plants they eat daily, it becomes clear that any amount of land development can cause effects to their lives. As of now, their habitat has shrunk to 15% of what it once was. </p>
    <p class="fs-2 text-indent-2">The second threat they face has to do with hunting. Their ivory tusks are considered valuable, and become a target for poaching. As their habitat shrinks, the elephants attempt to find food in other ways. One of those ways is to raid old areas of their habitat that have been converted to farmland. These raids can end up destroying large agricultural operations and costing millions of dollars in damage. Farmers, aggrivated by the damage to their farmland, hunt them in retaliation.</p>
</div>