@page
@model AWP_Individual_Project_1.Pages.HabitatModel
@{
    ViewData["Title"] = "Indian Elephant's Habitat";
}
<div>
    <h1 class="display-4 text-center">Habitat</h1>
    <br />
    <p class="fs-2 text-indent-2">In the Indian Elephant's quest for food, they have to have a large area to cover to feed the herd. Just by grazing they can travel upwards of 125 square miles, through grasslands and foresets of Asia. Because of the large area needed to graze, they are content with many different forests and types of grasslands, as long as they are relatively flat.</p>
    <p class="fs-2 text-indent-2"></p>
</div>