@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4 text-center">Indian Elephant</h1>
    <br />
    <p class="fs-2 text-indent-2">Standing up to 9.8ft tall and weighing up to 10,000 lbs, the Indian Elephant is considered to be smaller in comparison to their cousins, the African Elephant. Classified as Megaherbivores, they eat large amounts of plants, up to 330 lbs a day. They accomplish this by foraging a mix of grass, bamboo, legumes, and bark. Due to the sheer amount of plant matter they digest, their waste becomes important to their ecosystem as a means of natural fertilizer.</p>
    <p class="fs-2 text-indent-2">Indian Elephants, as well as the rest of the subspecies of Asian Elephants, are highly intelligent. They have the ability to use and make tools at a similar level to great apes, possess good working memory, and work in coordination with others to achieve their goals. In addition to their overall intelligence, Indian Elephants display emotional intelligence, indicated by their complex social lives within their matriarchical herd. They've been observed grieving and being compassionate of others, and even more interestingly, of altruistic behaviors by helping not just animals, but humans as well.</p>
</div>
