@page
@model AWP_Individual_Project_1.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources // Sources";
}

<div class="text-center">
        <div>
        <h2 class="resources display-4">Charity Organizations</h2>
        <hr />
            <ul class="resources">
            <li><a href="https://elephantconservation.org/">https://elephantconservation.org/</a></li>
            <li><a href="https://worldelephantday.org/">https://worldelephantday.org/</a></li>
            <li><a href="https://www.savetheelephants.org/">https://www.savetheelephants.org/</a></li>
    </ul    >
        </div>
    <div>
        <h2 class="resources display-4">Information Sources</h2>
    <hr />
        <ul class="resources">
        <li><a href="https://www.worldlandtrust.org/species/mammals/asian-elephant/">https://www.worldlandtrust.org</a></li>
        <li><a href="https://www.worldwildlife.org/species/indian-elephant">https://www.worldwildlife.org</a></li>
    </ul>
    </div>
    <div>
        <h2 class="resources display-4">Images Sources</h2>
    <hr>
        <ul class="resources">
        <li><a href="https://www.flickr.com/photos/33037982@N04/32419339492">Leonora (Ellie) Enking</a></li>
        <li><a href="https://www.flickr.com/photos/33037982@N04/32191513360">Leonora (Ellie) Enking</a></li>
        <li><a href="https://www.flickr.com/photos/dakiny/7917107604">Toshihiro Gamo</a></li>
        <li><a href="https://www.flickr.com/photos/jovamp/7965494740">Joanne Goldby</a></li>
         <li><a href="https://flic.kr/p/23GUdD5">Linda De Volder</a></li>
            <li><a href="https://www.flickr.com/photos/bikashdas/22221170793/in/photolist-zRBiUn-w1ro3w-6gwreX-RrjKbn-rrPjEC-3MJJ3T-6gwqn6-6wBgoc-eizVV1-wY1rx8-eizW49-rwy5Ab-rwDyk2-jt1ajt-88UKcR-28rCCe5-KkGb8B-5dSjJx-G9JHRG-dJSRbw-d8Tf5d-5gdf2D-23GUdD5-5gcRDe-5gdcba-5gdghX-5gdkUc-d8Tw2W-d8QNeA-d8TDUh-d8Uvch-d8SRpu-d8UhPU-5gh7aC-d8U4y7-d8TSdh-d8Tr3f-d8QF2S-d8RMUE-d8TXV5-5ggRNG-d8REMh-d8UJLU-d8SBVJ-5gczEK-d8VYzS-23GUbq7-d8T6YY-d8Rods-5gcJcn" title="Bikash Das" alt="Bikash Das">Bikash Das</a></li>
    </ul>
    </div>
        <div>
        <h2 class="resources display-4">Special Thanks</h2>
    <hr>
        <ul class="resources">
            <li><a href="https://huemint.com/website-3/#palette=fffcec-bef0fb-1c1324-59165a-c35b22-f7c8a0">https://huemint.com/</a> <span class="text-muted">- Color Pallete</span></li>
</ul>
    </div>
</div>